*{
    color:darkblue;
    font-display: dark;
}
.main{
    width: 60%;
    background-color: #333;
    padding: 5%;
    border: 1px solid green;
    margin: 3rem;
}
#result{
    text-align: center;
    margin-left: 12%;
    color: red;
}
#generateButton{
    display: block;
    width: 80%;
    padding: 5%;
    margin-left: 12%;
    cursor: pointer;
    font-size: 16px;
    border: 0 ;
    background:rgba(100, 237, 2, 0.807) ;
    color: #fff;
}
.wrapper{
    display: flex;
    justify-content: space-around;
    border: 1px solid khaki;

}
footer{
    background: linear-gradient(to left,red,green);
    
}